.materialIcons {
  vertical-align: middle;
  padding-bottom: 5px;
}

.text{
  font-family: "Roboto", serif;
}

.circularProgress{
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}